@font-face {
	font-family: cursiveQuote;
	src : url('/resources/carlbeckscript.ttf');
}

body {
	background-color: #eeeeee;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 20px;
	margin: 0;
	padding-bottom: 100px;
	min-width: 700px;
}

img.picture {
	margin: 25px;
	width: 180px;
	border-radius: 180px;
	border: 1px solid #ccc;
}

img.lpicture {
	margin: 25px;
	width: 180px;
	border: 1px solid #ccc;
}

img.indpicture {
	margin: 25px;
	height: 110px;
	width: 180px;
	border: 1px solid #ccc;
}

img.uspicture {
	margin: 25px;
	height: 110px;
	width: 180px;
	border: 1px solid #ccc;
}

img.blogpicture {
	height: 70%;
	width: 60%;
	border: 1px solid #ccc;
}

.full_name {
	font-size: 30pt;
	color: #777;
	letter-spacing: 10;
	margin-bottom: 15px;
}

.title{
	padding-top: 1px;
	font-size: 40pt;
	color: #777;
	letter-spacing: 1;
	margin-bottom: 15px;
}

.education {
	display: none;
	margin-top: -10px;
	color : #999;	
	font-size: 10pt;
	letter-spacing: 4;
}

.education .university {
	/*font-size: 9pt;*/
}

.intro {
	/*display: none;*/
	width: 60%;
	margin: 5px auto;
	margin-top: 10px;
	font-size: 10pt;
	letter-spacing: 2pt;
	line-height: 15pt;
	color : #777;
}

.paragraph {
	/*display: none;*/
	width: 60%;
	margin: 5px auto;
	margin-top: 10px;
	font-size: 11pt;
	letter-spacing: 2pt;
	line-height: 15pt;
	text-align: justify;
	color : #777;
}

.icons {
	width: 100%;
	margin-top: 75px;
	text-align: center;
	opacity: 0;
	transition: opacity 2s;
}

.icon {
	display: inline-block;
}

.icon img {
	width: 75px;
	margin: 5px 35px;
	opacity: 0.5;
	transition: opacity 0.5s;
	cursor: pointer;
}

.icon img:hover {
	opacity: 1;
}

.icon_desc {
	top: 15px;
	color: #555;
	opacity: 1;
	transition: opacity 1s, top 0.25s;
}

.footer {	
	width: 100%;
	background-color: #333;
	padding: 6px;
	height: 50px;
	position: fixed;
	bottom: 0;
	letter-spacing: 2;
}

.footer a {
	text-decoration: none;
	color: #fff;
	font: 4pt;
	height: 15px;
}

.footer_item {
	display: inline-block;
	padding: 0 15px;
	height: 100%;
}

.lfooter {	
	width: 100%;
	background-color: #333;
	padding: 6px;
	height: 25px;
	position: fixed;
	bottom: 0;
	letter-spacing: 2;
}

.lfooter a {
	text-decoration: none;
	color: #fff;
	font: 4pt;
	height: 15px;
}

.lfooter_item {
	display: inline-block;
	padding: 0 15px;
	height: 100%;
}

.br {
	/*position: absolute;*/
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #555;
	border-radius: 15px;
	margin-bottom: 4px;
}

table {
	width: 65%;
	margin: 5px auto;
	background-color: none;
	text-align: center;
	/*border: 1px solid #333;*/
}

table td {
	padding: 10px 7px;
	border-bottom: 1px solid #cdcdcd;
}