include header
.container
	body
		img.blogpicture(src="/resources/bike.png")
		.title <a href="http://www.flickr.com/photos/kysaant/12158333095/in/photostream/", style="text-decoration: none;">My bike is stuck, I will be back soon!</a>
		.footer
			a(target="", href="/*").footer_item.fa.fa-home
			.br
			.footer_item
				a(target="_blank", href="/resources/resume.pdf") RESUME
			.br
			.footer_item
				a(href="mailto:shivamvmc@gmail.com") CONTACT
			.br
			a(target="_blank", href="https://github.com/shivamgupta").footer_item.fa.fa-github-alt
			.br
			a(target="_blank", href="http://www.linkedin.com/pub/shivam-gupta/45/b2a/987").footer_item.fa.fa-linkedin
			.br
			a(target="_blank", href="https://www.facebook.com/sgupta40").footer_item.fa.fa-facebook
			.br
			a(target="_blank", href="http://www.youtube.com/sgupta40").footer_item.fa.fa-youtube
			.br
			a(target="_blank", href="https://plus.google.com/+ShivamGupta40").footer_item.fa.fa-google-plus