link(rel="stylesheet", href="/styles/main.css")
link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")

script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
script(type='text/javascript', src="js/main.js")