include header
.container
	body
		img.picture(src="/resources/shivam.png")
		.full_name SHIVAM GUPTA
		.education
			| Bachelors in 
			b COMPUTER SCIENCE
			br
			.university
				| University of Illinois, Urbana Champaign
		.intro
			| Hi! I am currently pursuing Bachelors in Computer Science at the University of Illinois at Urbana Champaign. I love Learning, Helping, Teaching, Innovating and being an impetus for Growth.
			br
			| I love meeting new people. So if you want to collaborate, or just hang out, contact me!
		.icons
			.icon
				img(src="/resources/projects.png")
				.icon_desc Projects
			.icon
				a(href="/lectures" style="text-decoration: none;")
					img(src="/resources/lectures.png")
					.icon_desc Lectures
			.icon
				a(href="/senate" style="text-decoration: none;")
					img(src="/resources/senate.png")
					.icon_desc Senate
			.icon
				a(href="/community" style="text-decoration: none;")
					img(src="/resources/community.png")
					.icon_desc Community
			.icon
				a(href="/blog" style="text-decoration: none;")
					img(src="/resources/blog.png")
					.icon_desc Blog
		.footer
			.footer_item
				a(target="_blank", href="/resources/resume.pdf") RESUME
			.br
			.footer_item
				a(href="mailto:shivamvmc@gmail.com") CONTACT
			.br
			a(target="_blank", href="https://github.com/shivamgupta").footer_item.fa.fa-github-alt
			.br
			a(target="_blank", href="http://www.linkedin.com/pub/shivam-gupta/45/b2a/987").footer_item.fa.fa-linkedin
			.br
			a(target="_blank", href="https://www.facebook.com/sgupta40").footer_item.fa.fa-facebook
			.br
			a(target="_blank", href="http://www.youtube.com/sgupta40").footer_item.fa.fa-youtube
			.br
			a(target="_blank", href="https://plus.google.com/+ShivamGupta40").footer_item.fa.fa-google-plus
			
			