include header

.container
	body
		u.title Data Structures Lecture Series
		.paragraph
			| Today, we live in an increasingly data-centric and data-driven world. We live in a world where companies like Amazon track every item we view and every item we purchase so as to recommend similar products to us. We live in a world where companies like Google store every search query thrown at them so as to recommend better search queries in the future. We live in an increasingly data-centric world, and so it's imperative that we store and organize our data in an efficient manner.
			br
			br
			| This course teaches a variety of ways to store collections of data in a computer program and discusses the advantages and disadvantages associated with the different methods. You will learn how to build various data-storage structures, and you'll discover why you might prefer one over another in a particular situation. The combined arts of design, analysis and justification are the substance of the course.
			br
			br
			| This lectures series is going to be in Hinglish (mixture of Hindi and English), as the point of this lecture series is to teach Indian programmers data structures in their own language. This way they don't have to cross the language-barrier to learn programming.
			br
			br
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"  class="donate"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="UFCSBQSK26HCQ"><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>	
		table
			tr
				td <iframe width="380" height="238" src="//www.youtube.com/embed/8beqcaidma0" frameborder="10" allowfullscreen></iframe>
				td <a href="https://www.dropbox.com/sh/jsswt0hw0luiofd/nwD9cAPsv2">Download lecture</a>
			tr
				td <iframe width="380" height="238" src="//www.youtube.com/embed/nmLfB9o482g" frameborder="10" allowfullscreen></iframe>
				td <a href="https://www.dropbox.com/sh/s9nhjvz22o6n6hn/jvveAXlXXD">Download lecture, slides and the code used</a>
			tr
				td <iframe width="380" height="238" src="//www.youtube.com/embed/ob4wBMhNeO8" frameborder="10" allowfullscreen></iframe>
				td <a href="https://www.dropbox.com/sh/bg3c0aioxbtgocq/-cB7TJAkm1">Download lecture, slides and the code used</a>
			tr
				td <iframe width="380" height="238" src="//www.youtube.com/embed/XP9UH7zXEnE" frameborder="10" allowfullscreen></iframe>
				td <a href="https://www.dropbox.com/sh/uqajx466h761fqk/ZM_8_pR9Fm">Download lecture and slides</a>
			tr
				td <iframe width="380" height="238" src="//www.youtube.com/embed/DQJffbomoRI" frameborder="10" allowfullscreen></iframe>
				td <a href="https://www.dropbox.com/sh/05r5wnacqxwjwrd/0WXVYk-V5R">Download lecture and slides</a>
			tr
				td <iframe width="380" height="238" src="//www.youtube.com/embed/XjeK5z39ZF8" frameborder="10" allowfullscreen></iframe>
				td <a href="https://www.dropbox.com/sh/yg56yebotuo0pmo/53zKZWRJaf">Download lecture and slides</a>
			tr
				td(colspan="2") The Big 3
			tr
				td(colspan="2") Inheritance
			tr
				td(colspan="2") Templates
			tr
				td(colspan="2") Linked Memory
			tr
				td(colspan="2") Intro to Lists
			tr
				td(colspan="2") Tricks with lists
			tr
				td(colspan="2") Generic Programming
			tr
				td(colspan="2") Stacks
			tr
				td(colspan="2") Queues
			tr
				td(colspan="2") Intro to trees
			tr
				td(colspan="2") Traversals
			tr
				td(colspan="2") Binary Search Trees
			tr
				td(colspan="2") AVL Trees
			tr
				td(colspan="2") B-trees
			tr
				td(colspan="2") Hashing
			tr
				td(colspan="2") Priority Queues
			tr
				td(colspan="2") Heap data structure
			tr
				td(colspan="2") Disjoint Sets
			tr
				td(colspan="2") Intro to graphs
			tr
				td(colspan="2") Graph Implementations
			tr
				td(colspan="2") Breadth First Search
			tr
				td(colspan="2") Depth First Search
			tr
				td(colspan="2") Minimum Spanning Tree (Kruskal's algorithm)
			tr
				td(colspan="2") Minimum Spanning Tree (Prim's algorithm)
			tr
				td(colspan="2") Dealing with directed graphs (Dijkstra's - algorithm)
		br
		.lfooter
			a(target="", href="/*").footer_item.fa.fa-home
			.br
			.lfooter_item
				a(target="_blank", href="/resources/resume.pdf") RESUME
			.br
			.lfooter_item
				a(href="mailto:shivamvmc@gmail.com") CONTACT
			.br
			a(target="_blank", href="https://github.com/shivamgupta").footer_item.fa.fa-github-alt
			.br
			a(target="_blank", href="http://www.linkedin.com/pub/shivam-gupta/45/b2a/987").footer_item.fa.fa-linkedin
			.br
			a(target="_blank", href="https://www.facebook.com/sgupta40").footer_item.fa.fa-facebook
			.br
			a(target="_blank", href="http://www.youtube.com/sgupta40").footer_item.fa.fa-youtube
			.br
			a(target="_blank", href="https://plus.google.com/+ShivamGupta40").footer_item.fa.fa-google-plus